# Python cache

**pycache**/
*.py[cod]
*$py.class

# Virtual environments

venv/
env/
ENV/
.venv/

# Distribution / packaging

build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook

.ipynb_checkpoints/

# VS Code

.vscode/

# PyCharm

.idea/

# Streamlit files

.streamlit/

# Logs

*.log

# OS files

.DS_Store
Thumbs.db

# Temporary files

*.tmp
*.temp

# Python installer logs

pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage

.coverage
htmlcov/

# Optional: Ignore large datasets

# BX-Books.csv

# BX-Users.csv

# BX-Book-Ratings.csv
